# Dependencies
node_modules/

# Build outputs
dist/

# Testing
coverage/
test_results.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment / Secrets
.env
.env.*
!.env.example
.venv/
venv/
env/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Misc / Junk
*.pdf
